* {
    margin: 0.25rem;
    vertical-align: middle;
}
body {
    padding: 1rem;
}

input {
    width: 30%;
}

div > div > input {
    width: 45%;
}

button {
    min-width: 250px;
    width: fit-content;
    padding: 0 1rem;
    text-align: left;
}

.box {
    width: 300px;
}

.flex {
    display: flex;
}

.border {
    border: 1px solid #ccccccbd;
}
